nav {
  color: #fff;
  .navbar-brand{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
  }

  li a {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
  }

  .navbar-toggler{
    background-color: #eee;
  }

}
